.our-speakers {
  padding: 180px 0 0;
  margin: 140px 0 0;
  .title-line {
    text-align: center;
    padding-top: 10px;
    margin-bottom: 10px;
    &::before {
      content: "";
      position: absolute;
      top: 0;
      width: 56px;
      height: 3px;
      background-color: #2ccfbb;
      left: 50%;
      -webkit-transform: translate(-50%, 0);
      transform: translate(-50%, 0);
    }
  }
  .bg-img {
    background-image: url(/images/bg-team-home-2.svg);
    &::after {
      content: "";
      position: absolute;
      background-image: url(/images/effect-1.svg);
      background-position: center;
      background-size: contain;
      background-repeat: no-repeat;
      width: 191px;
      height: 206px;
      top: -112px;
      left: 50%;
      z-index: 10;
      -webkit-transform: translate(-50%, 0) rotate(180deg);
      transform: translate(-50%, 0) rotate(180deg);
    }
  }
  .slogan {
    margin: 0 auto 50px;
    max-width: 515px;
    text-align: center;
    color: #5a5a5a;
  }
}
.our-speakers .speaker-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-top: 50px;
}
.our-speakers .speaker-item:first-child {
  margin-top: 0;
}
.our-speakers .speaker-item:nth-of-type(2n) {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse;
}
.our-speakers .speaker-item:nth-of-type(2n) .speaker-item-content {
  padding-right: 50px;
  padding-left: 150px;
}
.our-speakers .speaker-item .speaker-item-img {
  width: 40%;
}
.our-speakers .speaker-item .speaker-item-img img {
  display: block;
  width: 100%;
  height: 270px;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: top center;
  object-position: top center;
  border-radius: 5px;
}
.our-speakers .speaker-item .speaker-item-content {
  width: 60%;
  padding: 0 150px 0 50px;
}
.our-speakers .speaker-item .speaker-item-content .prof {
  margin-bottom: 24px;
  padding-bottom: 27px;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  color: #747474;
  position: relative;
}
.our-speakers .speaker-item .speaker-item-content .prof:before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 42px;
  height: 3px;
  background-color: #2ccfbb;
}
.our-speakers .speaker-item .speaker-item-content p {
  margin-bottom: 25px;
}
.our-speakers.speakers-home-two {
  padding: 180px 0;
  position: relative;
  background: #f6f6f6;
}
.our-speakers.speakers-home-two:after,
.our-speakers.speakers-home-two:before {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: 106px;
  z-index: 5;
  background-image: url(/images/before-home-2.svg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom center;
}
.our-speakers.speakers-home-two:before {
  -webkit-transform: rotate3d(1, 0, 0, 180deg);
  transform: rotate3d(1, 0, 0, 180deg);
  top: 0;
}
.our-speakers.speakers-home-two:after {
  bottom: 0;
  -webkit-transform: rotate3d(0, 1, 0, 180deg);
  transform: rotate3d(0, 1, 0, 180deg);
}
.our-speakers.speakers-home-two .speaker-item-img img {
  border-radius: 20px;
}
.our-speakers.speakers-home-two .container {
  position: relative;
  z-index: 2;
}
.our-speakers.speakers-home-two .bg-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
}
.our-speakers.speakers-home-two .speaker-item {
  padding-bottom: 50px;
  border-bottom: 1px solid #e7e7e7;
}
.our-speakers.speakers-home-two .speaker-item:last-child {
  border-bottom: none;
  padding-bottom: 0;
}
.our-speakers.speakers-home-two
  .speaker-item:nth-of-type(2n)
  .speaker-item-content {
  padding: 0 100px 0 150px;
}
.our-speakers.speakers-home-two .speaker-item .speaker-item-content {
  padding: 0 100px;
}
.our-speakers.speakers-home-two .title-position {
  top: 24%;
}
.our-speakers.speakers-home-two .title-position:nth-of-type(2) {
  top: 64%;
}
.title-position {
  position: absolute;
  top: 50%;
  -webkit-transform: translate(0, -50%) rotate(-90deg);
  transform: translate(0, -50%) rotate(-90deg);
  z-index: 4;
  font-size: 150px;
  line-height: 108px;
  color: rgba(0, 0, 0, 0.05);
  text-transform: uppercase;
  font-weight: 700;
}
.title-position.title-position-left {
  left: -316px;
}
.title-position.title-position-right {
  right: -262px;
}

@media (max-width: 1199px) {
  .our-speakers .speaker-item .speaker-item-img img {
    height: 250px;
  }
  .our-speakers .speaker-item .speaker-item-content {
    padding-right: 130px;
  }
  .our-speakers .speaker-item:nth-of-type(2n) .speaker-item-content {
    padding-left: 130px;
  }
  .our-speakers.speakers-home-two .bg-img {
    background-position: right center;
  }

  .our-speakers.speakers-home-two .speaker-item .speaker-item-content {
    padding: 0 70px;
  }
  .our-speakers.speakers-home-two
    .speaker-item:nth-of-type(2n)
    .speaker-item-content {
    padding: 0 70px 0 80px;
  }
}
@media (max-width: 991px) {
  .s-pricing .container,
  .our-speakers.speakers-home-two,
  .s-about-home-two .container {
    padding-top: 130px;
    padding-bottom: 130px;
  }

  .our-speakers .speaker-item .speaker-item-content {
    padding: 0 0 0 30px;
  }
  .our-speakers .speaker-item:nth-of-type(2n) .speaker-item-content {
    padding-right: 30px;
    padding-left: 0;
  }
  .our-speakers .speaker-item .speaker-item-content .prof {
    margin-bottom: 18px;
    padding-bottom: 21px;
  }
  .our-speakers .speaker-item .speaker-item-img img {
    height: 230px;
  }
  .s-pricing:after,
  .s-pricing:before,
  .our-speakers.speakers-home-two:after,
  .our-speakers.speakers-home-two:before {
    height: 50px;
  }
  .our-speakers.speakers-home-two .speaker-item .speaker-item-content {
    padding: 0 0 0 30px;
  }
  .our-speakers.speakers-home-two
    .speaker-item:nth-of-type(2n)
    .speaker-item-content {
    padding: 0 30px 0 0;
  }
  .our-speakers.speakers-home-two .bg-img {
    display: none;
  }
}
@media (max-width: 767px) {
  .s-venue {
    padding: 100px 0 80px;
  }
  .s-pricing .container,
  .our-speakers.speakers-home-two,
  .s-about-home-two .container {
    padding-top: 100px;
    padding-bottom: 100px;
  }
  .s-contacts .contacts-cover {
    padding: 65px 0 94px;
  }
  .s-error {
    padding: 74px 0 94px;
  }
  .page-gallery.s-gallery {
    padding-bottom: 68px;
  }
  .our-speakers,
  .about-the-course,
  .events-our-courses.s-our-courses,
  .about-testimonials-slider {
    padding-top: 100px;
  }
  .speaker-item-content h3 {
    font-size: 20px;
  }
  .our-speakers .speaker-item .speaker-item-content p {
    margin-bottom: 20px;
  }
}
@media (max-width: 575px) {
  .our-speakers .speaker-item .speaker-item-content .prof {
    margin-bottom: 11px;
    padding-bottom: 14px;
  }
  .our-speakers .speaker-item .speaker-item-img img {
    height: 240px;
  }
  .soc-link li:not(:last-child) {
    margin-right: 12px;
  }
  .our-speakers .speaker-item {
    margin-top: 40px;
  }
  .join-our-team-item {
    text-align: center;
  }
  .join-our-team-item ul {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  .our-speakers .speaker-item:nth-of-type(2n) .speaker-item-content {
    padding-right: 0;
  }
}
@media (max-width: 480px) {
  .our-speakers.speakers-home-two
    .speaker-item:nth-of-type(2n)
    .speaker-item-content,
  .our-speakers.speakers-home-two .speaker-item .speaker-item-content {
    padding: 15px 0 0;
  }
  .our-speakers .speaker-item:nth-of-type(2n),
  .speaker-item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
  }
  .our-speakers .speaker-item .speaker-item-img {
    width: 100%;
  }
  .our-speakers .speaker-item .speaker-item-img img {
    height: 220px;
    max-width: 470px;
    margin: 0 auto;
  }
  .our-speakers .speaker-item .speaker-item-content {
    width: 100%;
    padding: 20px 0 0;
    text-align: center;
  }
  .our-speakers .speaker-item .speaker-item-content .prof:before {
    left: 50%;
    -webkit-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
  }
  .our-speakers .soc-link {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
}
