.wpo-event-img {
  position: relative;
}

.wpo-event-img img {
  width: 100%;
}


.wpo-event-img .thumb-text,
.wpo-event-img .thumb-text-2,
.wpo-event-img .thumb-text-3 {
    position: absolute;
    top: -8px;
    right: 15px;
    background: url('/images/event/img-1.png') no-repeat center center / cover;
    width: 60px;
    height: 85px;
    text-align: center;
    padding-top: 4px;
    padding-right: 8px;
}

.wpo-event-img .thumb-text-2 {
    background: url('/images/event/img-2.png') no-repeat center center / cover;
}

.wpo-event-img .thumb-text-3 {
    background: url('/images/event/img-3.png') no-repeat center center / cover;
}

.wpo-event-img .thumb-text span,
.wpo-event-img .thumb-text-2 span,
.wpo-event-img .thumb-text-3 span {
    display: block;
}

.wpo-event-img .thumb-text span:first-child,
.wpo-event-img .thumb-text-2 span:first-child,
.wpo-event-img .thumb-text-3 span:first-child {
    font-size: 25px;
    font-weight: 600;
    color: #fff;
    font-family: 'Rubik', sans-serif;
}

.wpo-event-img .thumb-text span:last-child,
.wpo-event-img .thumb-text-2 span:last-child,
.wpo-event-img .thumb-text-3 span:last-child {
    font-size: 16px;
    font-weight: 400;
    color: #fff;
    font-family: 'Rubik', sans-serif;
}